body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Предотвращает полосы прокрутки */
}

/* Стили для Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%; /* Слайды занимают всю высоту контейнера */
    position: relative; /* Важно для позиционирования изображения */
}

.slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Масштабирование и обрезка изображения */
    background-position: center; /* Центрирование изображения */
    object-fit: cover;
}
